body{
    color: blue;
    background-color:pink;       
}

h1{
    color: antiquewhite;
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
/*header*/
header{
    background-color: bisque;
    padding-top: 20px;
    min-height: 50px;
}
